{% extends "layout.html" %}

{% block title %}
    Index
{% endblock %}

{% block main %}
<table class="table table-striped">
        <thead>
            <tr>
                <th>Symbol</th>
                <th>Name</th>
                <th>Shares</th>
                <th>Price</th>
                <th>TOTAL</th>
            </tr>
        </thead>
        <tfoot>
            <tr>
                <td colspan="4"></td>
                <td><b>${{'%0.2f'|format(total_cash)}}</b></td>
            </tr>
        </tfoot>
        <tbody>
            {% for row in rows_of_pf %}
                <tr>
                    <td>{{row.symbol}}</td>
                    <td>{{row.name}}</td>
                    <td>{{row.shares}}</td>
                    <td>${{'%0.2f'|format(row.price|float)}}</td>
                    <td>${{'%0.2f'|format(row.total|float)}}</td>
                </tr>
            {% endfor %}
            <tr>
                <td>CASH</td>
                <td></td>
                <td></td>
                <td></td>
                <td>${{'%0.2f'|format(current_cash|float)}}</td>
            </tr>
        </tbody>
    </table>
{% endblock %}

